name: CI

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  build:
    uses: ./.github/workflows/ci.yml

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Full History
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.1.0

      - name: Calculate Version
        id: version
        uses: gittools/actions/gitversion/execute@v4.1.0

      - name: Tag Commit
        uses: fgrzl/actions/tag-commit@v0.0.5
        with:
          tag: ${{ steps.version.outputs.semVer }}

      - name: Install cargo-edit
        run: cargo install cargo-edit --locked

      - name: Update Cargo.toml
        run: cargo set-version "${{ steps.version.outputs.semVer }}"

      - name: Publish to crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish --locked

      - name: Prune Pre-release Tags
        uses: fgrzl/actions/prune-tags@v0.0.5
